.alert
  //button.close(type="button", data-dismiss="alert") &times;
  a.close(href="#", data-dismiss="alert") &times;
  {{ flash }}

a.btn(ng-click="logout()") Logout

.hero-unit
  h1 'Allo, 'Allo!
  p You now have
  ul
    li(ng-repeat='thing in awesomeThings') {{ thing }}
  p installed.
  h3 Enjoy coding! - Yeoman
